.container
  .row
    .col-lg-12
      %h2 Mi Perfil
  .row
    .col-lg-6
      = render 'form'

= content_for :javascripts do
  :javascript
    $('.datepicker').datepicker({ format: "yyyy-mm-dd" });
