.container
  .row
    .col-lg-12
      %h2= t('titles.requisitions')
  .row
    .col-lg-12.mb-20
      = link_to t('titles.new_requisition'), new_requisition_path, class: 'btn btn-primary'
  .row
    .col-lg-12= render 'requisitions_table'
