.container
  .row
    .col-lg-12
      %h2 Solicitudes
  .row
    .col-lg-12.mb-20
      = link_to 'Nueva solicitud', new_requisition_path, class: 'btn btn-primary'
  .row
    .col-lg-12= render 'requisitions_table'
